<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="car-body text-center">

          <span class="title">Planet List</span>
          <button class="btn btn-success float-end mt-2 me-2" routerLink="/add-planet">Nuevo</button>
          <table *ngIf="listPlanets.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Planet</th>
                <th scope="col">Cathegory</th>
                <th scope="col">Radius</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let planet of listPlanets">
                <td>{{ planet.name }}</td>
                <td>{{ planet.cathegory }}</td>
                <td>{{ planet.radius }}</td>
                <td>
                  <i [routerLink]="['/edit-planet/', planet._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                  <i (click)="deletePlanet(planet._id)" class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>

            </tbody>
          </table>
          <h5 style="text-align: start; margin-top: 10px" *ngIf="listPlanets.length == 0">No Planet data</h5>
        </div>
      </div>
    </div>
  </div>
</div>
